.hero-wrapper{
    margin: 5rem auto;
    padding-top: 5rem;
}
.hero-wrapper h1{
    margin-bottom: 2.7rem;
    font-family: var(--font-text);
    font-size: 2.5rem;
    text-align: center;
}
.hero-wrapper .cp-card-wrapper{
    display: flex;
    justify-content: space-evenly;
}

/* .hero-wrapper .cp-card-wrapper .card-container .card-container{
    max-width: 30rem;
    display: flex;
    justify-content: center;
}

.hero-wrapper .cp-card-wrapper .card-container .card-container .card{
    width: 90%;
    background-color: var(--color-card);
} */


@media screen and (max-with: 768px) {
    .hero-wrapper .cp-card-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}