.about-wrapper{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
    font-family: var(--font-text);
}
.about-wrapper>h1{
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 4rem;

}

.about-wrapper .about{
    /* display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 2rem 1fr 3rem 2fr 2rem; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-wrapper .about .saby{
    padding-right: 1rem;
}
.about-wrapper .about .saby img{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.about-wrapper .about .short{
    grid-column-start: 2;
    width: 35%;
    padding-left: 1rem;
}
/* .about-wrapper .about .short h1{
    font-size: 2rem;
    padding-bottom: 1.5rem;
    text-align: left;
} */
.about-wrapper .about .short p{
    font-size: 1rem;
    padding-bottom: 0.75rem;
    text-align: left;

}

.about-wrapper .about .long{
    grid-column-start: 4;
}
.about-wrapper .about .long h1{
    font-size: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;

}
.about-wrapper .about .long p{
    font-size: 1rem;
    padding-bottom: 0.75rem;
}







@media screen and (max-width: 768px) {
    .about-wrapper .about{
        /* display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 2rem 1fr 3rem 2fr 2rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        /* text-align: center; */
    }



    .about-wrapper .about .saby{
        padding-bottom: 1rem;
    }



    .about-wrapper .about .short{
        grid-column-start: 2;
        width: 60%;
        padding-top: 1rem;
    }
}








@media screen and (max-width: 600px) {
    .about-wrapper .about{
        /* display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 2rem 1fr 3rem 2fr 2rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        /* text-align: center; */
    }



    .about-wrapper .about .saby{
        padding-bottom: 1rem;
    }



    .about-wrapper .about .short{
        grid-column-start: 2;
        width: 80%;
        padding-top: 1rem;
    }
    .about-wrapper .about .short p{
        font-size: 0.9rem;
    }
}