.card-container{
    width: 25rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.card{
    width: 70%;
    padding: 15px;
    background-color: var(--color-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ccrd{
    height: full;
}

.card-container .card h5{
    font-family: var(--font-text);
    font-size: 2rem;
    font-weight: 700;
    color: aliceblue;
}
.card-container .card p{
    font-family: var(--font-text);
    font-size: 1.3rem;
    color: aliceblue;
}
.card-container .card a{
    max-width: 110px;
    margin-bottom: 10px;
    font-family: var(--font-text);
    color: aliceblue;
}



@media screen and (max-width: 768) {
    .card-container{
        width: 25rem;
        display: flex;
        justify-content: center;
    }
    .card{
        width: 70%;
        background-color: var(--color-card);
    }
    .card-container .card h5{
        /* font-family: var(--font-text); */
        font-size: 1rem;
        font-weight: 400;
        color: aliceblue;
    }
    .card-container .card p{
        font-family: var(--font-text);
        font-size: 1.4rem;
        color: aliceblue;
    }
    .card-container .card a{
        font-family: var(--font-text);
        font-size: 1.2rem;
        color: aliceblue;
    }
}

@media screen and (max-width: 425) {
    .card-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
}