.navbar-wrapper{
    /* layout */
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    padding: 2rem 5rem;

    background-color: var(--color-bg);
    
    font-family: var(--font-nav);
    color: var(--color-text);
}

#mainNavbarActive{
    height: 12vh;
    width: 100%;
    background: black;
    display: grid;
    grid-template-columns: 5rem 1.5fr 0.5fr 3fr 5rem;
    position: fixed;
    z-index: 3;
}


.navbar-brand{
    grid-column-start: 1;
    grid-column-end: 2;

    font-size: 1.5rem;
    font-weight: 400;
}


.navbar-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.navbar-menu .links{
    width: 100%;
    grid-column-start: 2;
    display: flex;
    justify-content: flex-end;
    /* align-items: end; */
}
.navbar-menu .links>a{
    padding-left: 2rem;
}
.navbar-menu .links a{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-text);
}


.navbar-menu-mobile{
    grid-column-start: 3;
    display: none;
    position: relative;
    right: 0rem;
    top: 0rem;
}
/* to fix button hilne wala issue */
.navbar-menu-mobile-container{
    position: absolute;
    top: 1.75rem;
    right: 0rem;

    background-color: var(--color-text);
    border-radius: 4px;
    padding: 0.5em 1em;
}
.navbar-menu-mobile .links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: end;
}
.navbar-menu-mobile .links>a{
    color: var(--color-bg);
}




@media screen and (max-width:785px){
    
    .navbar-wrapper{
        grid-template-columns: 2fr 0.25fr;
        padding: 2rem 2.5rem;
    }

    .navbar-brand{
        grid-column-start: 1;
        grid-column-end: 2;
    
        font-size: 1.4rem;
        font-weight: 400;
    }

    .navbar-menu{
        display: none;
    }

    .navbar-menu-mobile{
        display: flex;
        z-index: 1;
    }
}

@media screen and (max-width:550px){
    
    .navbar-wrapper{
        grid-template-columns: 2fr 0.25fr;
        padding: 2rem 2.5rem;
    }

    .navbar-brand{
        grid-column-start: 1;
        grid-column-end: 2;
    
        font-size: 1.3rem;
        font-weight: 400;
    }

    .navbar-menu{
        display: none;
    }

    .navbar-menu-mobile{
        display: flex;
        z-index: 1;
    }
}

@media screen and (max-width:400px){
    
    .navbar-wrapper{
        grid-template-columns: 2fr 0.25fr;
        padding: 2rem 0.5rem;
    }

    .navbar-brand{
        grid-column-start: 1;
        grid-column-end: 2;
    
        font-size: 1.2rem;
        font-weight: 400;
        text-align: left;
    }

    .navbar-menu{
        display: none;
    }

    .navbar-menu-mobile{
        display: flex;

    }
}