@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --font-family: 'Quicksand', sans-serif;
  --font-nav: 'Staatliches', cursive;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #f5f5f5;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #491C1C;
  --color-subtext: #FF8A71;
}

/* add your styles that u are going to use */